<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.demo.comment.mapper.CommentMapper">
	<insert id="insertCommentByPostUserIdPostId" parameterType="map">
		INSERT INTO `comment`
		(
			`postUserId`
			,`postId`
			,`userId`
			,`commentText`
			, `createdAt`
			, `updatedAt`
		) VALUES
		(
			#{postUserId}
			, #{postId}
			, #{userId}
			, #{commentText}
			, NOW()
			, NOW()
		)
	</insert>
	
 	<select id="selectCommentListByPostUserIdPostId" parameterType="map" resultType="com.example.demo.comment.domain.Comment">
 		SELECT * FROM
 			`comment`
 		WHERE
 			`postUserId` = #{postUserId}
 		AND
 			`postId` = #{postId} 	
 	</select>
 	
 	<delete id="deleteCommentByIdsAndCommentText" parameterType="map">
 		DELETE FROM
 			`comment`
 		WHERE
 			`postUserId` = #{postUserId}
		 		AND
		 		`postId` = #{postId}
		 		AND
		 		`userId` = #{userId}
		 		AND
 				`commentText` = #{commentText}
 	</delete>
 </mapper>