@charset "UTF-8";

@font-face {
    font-family: 'GowunBatang';
    src: url('./fonts/Gowun_Batang/GowunBatang-Regular.ttf') format('truetype')
	
}
@font-face {
    font-family: 'GothicA1';
    src: url('./fonts/Gothic_A1/GothicA1-Light.ttf') format('truetype')
	
}

@font-face {
    font-family: 'Hahmlet';
    src: url('./fonts/Hahmlet/static/Hahmlet-Light.ttf') format('truetype')
	
}



body {}
.header {background-color: beige; height: 150px;}
/* 검색 창 */
.searchText {width: 300px;	} 

.contents { width: 100%; margin:0; padding:0;}
.sign-up-box { width: 800px;}

/* nav
a 태그 색상 변경
하이퍼링크 속성

link : 아직 방문하지 않은 링크의 색상
vlink : 방문한 적 있는 링크의 색상
alink : 마우스로 클릭할 시 나타나는 링크 색상
href : 해당 태그를 클릭할 시 이동시킬 페이지의 주소
title : 마우스를 대고 있을 때 나오는 링크의 설명 (팝업창으로 뜨는 간략한 메시지 박스)
target : 이동시킬 페이지의 형태 (새 창, 현재 창, 부모 창, 가장 상위 창 etc)
 

- 색 변경 (HTML)

<body link="black" vlink="black" alink="navy">
	<a href="https://www.naver.com/">Naver</a>
</body>
 
 */
.nav-out {background-color: bisque; border: 1px solid burlywood;}
.navo {height: 60px;}
.nav-a , .nav-a:hover { text-decoration : none;}
.nav-a {
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	color:chocolate;
}

a {
	text-decoration: none;
	list-style: none;
	color: black;	
}
a:hover {
	text-decoration: none;
}
.nav-item:hover {
	color: white;
}
.dropdown-item:hover {
	background-color: blanchedalmond;
	color: deepskyblue;
}
/* 레시피 등록 */
.regi-title {
    background: #f8f8f8;
    border-bottom: 1px solid #e6e7e8;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.cont-box input {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
    margin-top: -1px;
}
.cont-line input {
  
}
.cont-line {
	display: flex;
	margin-top: 10px;
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

.cont_tit4 {
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-top: 20px;
}

.category, select {
	width: 150px;
	height: 50px;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.regi_btn {
	  display: flex;
  justify-content: center;
}



.nav-etc {
	background-image: url(https://recipe1.ezmember.co.kr/img/bg_wave.png?v.2);
	height: 90px;
}

section {
	display: block;
	min-height: 1500px;
}

.nav-logo {
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-etc {
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;	
}
.panel-body {
	padding: 0;
}
.etc-wrap {
	
    background: #fff;
    border: 1px solid #ccc;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.etc_wrap p {
    padding: 2px 20px 0;
}

.panel-body button {
	border: 1px solid #ccc;
	float:right;
}

#updEmail {
	margin-top:20px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table; 
    content: " ";
}

#userViewBtn	{
	display: block;
	width:44px; 
	height:44px;
	}
#myPage {
	margin-left: 1px;
}

/*.cont-list > .cont-li {
	display: inline-block;
	border: 1px solid #e6e7e8;
	width: 250px;
	height: 200px;
	
}*/
li { 
	list-style: none;
}
.wrap {
	width: 1500px;
	margin: 0 auto;
}
.postSubject {
	padding: 60px 0 20px;
	position: relative;
}
.subject {
	font-size: 35px;
	font-family: 'GothicA1';
}
#user_profile {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	padding: 0;
}

.user_profile_link {
	width: 120px;
	height: 120px;
	position: relative;
	top: -80px;
}
/*.user_profile_link > img {
	margin-left: 40px;
}*/
.user_nickName {
	margin-top: 10px;
	text-align: center;
}
/*.nick_and_button {
	padding-left: 80px;
}*/
.followBtn {
	margin-left: 60px;
}
.user_profile_link, .user_profile_link:hover{
	list-style: none;
	text-decoration: none;
	color: inherit;
}
    #modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 400px;
            height: 500px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
        #modal .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;
            
        }
        #modal .title h2 {
            display: inline;
        }
        #modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
        #modal .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
  /*      .input-group {
			position: relative;
    		display: table;
   			border-collapse: separate;
		}*/
		
		.reply_commentList {
			height: 100px;
		}
	
	
/* 메인 페이지 */
.all-post > li {
	display: inline-block;
	border: 1px solid #e6e7e8;
	width: 300px;
	height: 350px;
	vertical-align: baseline;
	line-height: 1;
	
}

.all-post {
		line-height: 250px;
	
}


.cont-list > li {

	display: inline-block;
	border: 1px solid #e6e7e8;
	width: 300px;
	height: 200px;
	vertical-align: baseline;
	line-height: 1;

}
.li-group {
	
}
.brand_cont {
	position: relative;
}
.cont-list {
	position: absolute;
}

.cont-list > li{

	top: 0;	
		line-height: 20px;
	
}

#postLink {
	margin: 0 auto;
}



.handle-post-btn:focus {
  outline: none;
}
.handle-post-btn , .handle-post-btn:hover {
	color: black;
	text-decoration: none;
}
.dropdown-menu a {
	color:black;
	text-decoration:none;
}

.dropdown-menu>li>a:hover {
	color: red;	
}

#profileImage {
	border-radius: 50%;
}
#ingredient_in {
	font-size: 24px;
  font-family: 'GowunBatang';
  }
.ingredient_real {
	height: 100px;
	 font-family: 'GowunBatang';
	 	font-size: 16px;
}

.user_nickName {
	font-family: "Hahmlet";
	font-size: 20px;
}
.hit {
	background:url(//recipe1.ezmember.co.kr/img/mobile/icon_share.png?v1);
	background-size: 20px auto;
	font-size:14px; font-family: Myriad Pro; color:darkorchid; background:url(//https://img1.daumcdn.net/thumb/C408x596/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F814364da4037f74217243eeee6b4648d7dc2fc79) left top no-repeat;; background-size:20px auto; padding:2px 14px 2px 25px;
	
}
.view_cate_num span.hit {}

.comment-table{
	
}
.comment-table td {
	height: 50px;
	
}

.caption, .subject{
	font-size: 16px;
	
}

.subject {
	line-height: 25px;
}
.caption {
	position: absolute;
	bottom: 2%;

/*	line-height: 110px;
	margin-left: 10px;
*/}

	
.pod-li {
	position: relative;
	height: 400px;
}

.view-count {
	color:darkgray;
}

.foodType a {
	padding:3px 8px 4px;
	 color:#666; 
	 vertical-align:middle; 
	 font-size:15px;
	  line-height:1; 
	  font-weight: 300;
}

.foodType a:hover {
	color:forestgreen;
}

.foodType a:active {
	color:#fff; background:#74b243; margin:0; border-radius:16px;
}
.foodType a:checked {
	color:#fff; background:#74b243; margin:0; border-radius:16px;
}

.ingredientType a:hover {
	color:forestgreen;
}

.ingredientType a:active {
	color:#fff; background:#74b243; margin:0; border-radius:16px;
}
.ingredientType a:checked {
	color:#fff; background:#74b243; margin:0; border-radius:16px;
}


 .a_wrap{
	padding: 0px 15px 8px 0px;
    vertical-align: top;
}
 .c-table {
	border-spacing: 0;
    border-collapse: collapse; 
 }
 /* my home*/
 .myhome_main {
	 width: 400px;
 }
 
 .myhome_main_info {
    text-align: center;
    margin-top: -70px;
    padding-bottom: 5px;
}
.myhome_list {background:#fff; padding:25px 25px 0 40px;}
.myhome_list a {display:inline-block; text-align:center; color:#000; font-size:16px; line-height:15px; padding-bottom:28px;}
.myhome_list.three {text-align:center; padding:25px 40px 0;}
.myhome_list.three a {width:24%;}
.myhome_list.four a {width:24%;}
.myhome_list.five a {width:19.5%;}
.myhome_list.six a {width:16%;}
.myhome_icon {background:url(//recipe1.ezmember.co.kr/img/icon_myhome.png?v.0911) no-repeat; background-size:80px auto; display:block; width:80px; height:83px; margin:0 auto 10px;}
.myhome_icon.icon_view {background-position:left top;}
.myhome_icon.icon_scrap {background-position:center -83px;}
.myhome_icon.icon_write {background-position:center -166px;}
.myhome_icon.icon_copyshot {background-position:center -249px;}
.myhome_icon.icon_idea {background-position:center -332px;}
.myhome_icon.icon_note {background-position:center -415px;}
.myhome_icon.icon_menu {background-position:center -830px;}
.myhome_icon.icon_talk {background-position:center -581px;}
.myhome_icon.icon_diary {background-position:center -664px;}
.myhome_icon.icon_alim {background-position:center -747px;}
.myhome_icon.icon_recipe {background-position:center -498px;}
.myhome_icon.icon_product {background-position:center -913px;}
.myhome_icon.icon_event {background-position:center -996px;}
.myhome_icon.icon_chef1 {background-position:center -1079px;}
.myhome_icon.icon_chef2 {background-position:center -1162px;}
.myhome_icon.icon_chef3 {background-position:center -1245px;}
.myhome_icon.icon_qna {background-position:center -1328px;}
.myhome_icon.icon_chef4 {background-position:center -1411px;}
.myhome_icon.icon_chef5 {background-position:center -1494px;}
.myhome_main_t {height:150px; margin:0 auto; padding-top:22px;  position:relative; border-bottom:1px solid #ddd;}
.myhome_main_info {text-align:center; margin-top:-70px; padding-bottom:5px;}
.myhome_main_info .info_pic, .myhome_main_t .info_pic {display:inline-block; vertical-align:top; position:relative; padding:4px; margin:0 auto; background:url(//recipe1.ezmember.co.kr/img/mobile/shop_bg_name.png) left top; border-radius:50%;}
.myhome_main_info .info_pic img, .myhome_main_t .info_pic img {width:110px; height:110px; border-radius:50%;}
.myhome_main_info .info_set, .myhome_main_t .info_set {position:absolute; right:-2px; top:-2px;}
.myhome_main_info .info_set img, .myhome_main_t .info_set img {width:42px; height:42px;}
.myhome_main_info .info_name {margin:0; color:#777; font-size:12px; line-height:1.5; margin-top:5px;}
.myhome_main_info .info_name b {font-size:18px; display:block; color:#000;}
.myhome_main_info span img {width:16px; margin:0 2px 0 0;}
.myhome_main_info .btn-default {font-size:14px; background:none; border:1px solid #ddd; border-radius:20px; color:#999;  padding:7px 20px 8px; margin-top:15px;}
.myhome_main_info .btn-default span {font-weight:normal; padding-right:4px; color: #aaa}
.myhome_main_info .info_follow {border-top:1px solid #ddd; border-bottom:1px solid #ccc; float:left; width:100%; margin-top:20px; list-style:none; padding:0}
.myhome_main_info .info_follow  li {font-size:14px; font-weight:bold; width:50%; float:left; text-align:left; padding:14px 20px;}
.myhome_main_info .info_follow  li:first-child {border-right:1px solid #ddd;}
.myhome_main_info .info_follow span {float:right; display:inline-block; font-family: Myriad Pro; font-size:18px; margin-top:-3px;}
.myhome_main_info .info_follow2 {margin-top:10px; color:#333;}
.myhome_main_info .info_follow2 b {margin-left:4px; font-family:'Poppins', 'Nanum Gothic';}
.myhome_main_info .info_follow2 span {margin:0 3px; font-weight:bold; color:#999;}
.myhome_main_info .myhome_intro {padding:10px 0 2px 4px; color:#ddd; line-height:1.5;}
.myhome_main_info .myhome_intro a {color:#999; text-decoration:underline;}
.myhome_main_info .myhome_intro img {width:14px; margin:0 4px 0 0;}

.ingredient, .cookStepText, .cookTip {
	margin-top: 10px;
}
#ingredient_in {
	margin-top:20px;
}

/* 1인분 정보 등 */

.view2_summary_info {height: 100px; padding:2px 15px 0; text-align:center; padding-bottom:40px;}
.view2_summary_info span {display:inline-block; width:32%; padding-top:56px; color:#bcb7b7; font-size:16px;}
.view2_summary_info1 {background:url(//recipe1.ezmember.co.kr/img/mobile/icon_man.png) center no-repeat; background-size:34px;}
.view2_summary_info2 {background:url(//recipe1.ezmember.co.kr/img/mobile/icon_time2.png) center no-repeat; background-size:34px;}
.view2_summary_info3 {background:url(//recipe1.ezmember.co.kr/img/mobile/icon_star.png) center no-repeat; background-size:34px;}

.caption_userpage > span, .subject {
	overflow: hidden;
  text-overflow: ellipsis;
 /* white-space: nowrap;*/
  width: 298px;
  height: 60px;
  display: block;
}

.align-buttons > button {
	float: right;
	background-color: #74b243;
	color: ghostwhite;
	border: none;
}

.userViewFolloweBtn {
	margin: 0 auto;
}