@charset "UTF-8";

body {}
.header {background-color: beige; height: 150px;}
/* 검색 창 */
.searchText {width: 300px;	} 

.contents { width: 100%; margin:0; padding:0;}
.sign-up-box { width: 800px;}

/* nav
a 태그 색상 변경
하이퍼링크 속성

link : 아직 방문하지 않은 링크의 색상
vlink : 방문한 적 있는 링크의 색상
alink : 마우스로 클릭할 시 나타나는 링크 색상
href : 해당 태그를 클릭할 시 이동시킬 페이지의 주소
title : 마우스를 대고 있을 때 나오는 링크의 설명 (팝업창으로 뜨는 간략한 메시지 박스)
target : 이동시킬 페이지의 형태 (새 창, 현재 창, 부모 창, 가장 상위 창 etc)
 

- 색 변경 (HTML)

<body link="black" vlink="black" alink="navy">
	<a href="https://www.naver.com/">Naver</a>
</body>
 
 */
.nav-out {background-color: bisque;}
.navo {height: 60px;}
.nav-a , .nav-a:hover { text-decoration : none;}

/* 레시피 등록 */
.regi-title {
    background: #f8f8f8;
    border-bottom: 1px solid #e6e7e8;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.cont-box input {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
    margin-top: -1px;
}
.cont-line input {
  
}
.cont-line {
	display: flex;
	margin-top: 10px;
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

.cont_tit4 {
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-top: 20px;
}

.category, select {
	width: 150px;
	height: 50px;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.regi_btn {
	  display: flex;
  justify-content: center;
}

li {
	list-style: none;
}

.nav-etc {
	background-image: url(https://recipe1.ezmember.co.kr/img/bg_wave.png?v.2);
	height: 90px;
}

section {
	display: block;
}

.nav-logo {
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-etc {
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;	
}
.panel-body {
	padding: 0;
}
.etc-wrap {
	
    background: #fff;
    border: 1px solid #ccc;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.etc_wrap p {
    padding: 2px 20px 0;
}

.panel-body button {
	border: 1px solid #ccc;
	float:right;
}

#updEmail {
	margin-top:20px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table; 
    content: " ";
}

#userViewBtn	{
	display: block;
	width:44px; 
	height:44px;
	}
#myPage {
	margin-left: 1px;
}

.cont-list li {
	display: inline-block;
	border: 1px solid #e6e7e8;
	width: 250px;
	height: 200px;
	
}
.wrap {
	width: 700px;
	margin: 0 auto;
}
.postSubject {
	padding: 60px 0 20px;
	position: relative;
}
.subject {
	font-size: 35px;
	font-weight: bold;
}
#user_profile {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	padding: 0;
}
.user_profile_link {
	width: 200px;
	height: 200px;
	position: relative;
	top: -80px;
}
.user_nickName {
	margin-top: 10px;
}
.nick_and_button {
	padding-left: 80px;
}
.followBtn {
	margin-left: 60px;
}
.user_profile_link, .user_profile_link:hover{
	list-style: none;
	text-decoration: none;
	color: inherit;
}
    #modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 400px;
            height: 500px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
        #modal .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;
            
        }
        #modal .title h2 {
            display: inline;
        }
        #modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
        #modal .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
  /*      .input-group {
			position: relative;
    		display: table;
   			border-collapse: separate;
		}*/